body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input.search-input {
  font-family: FontAwesome;
}
.MuiInputBase-input {
  height: 1rem;
}
#asynchronous-demo-label {
  color: black;
}

#asynchronous-demo-label:focus {
  color: yellow;
}
