* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#drawer-list a {
  text-decoration: none;
}
input.search-input {
  font-family: FontAwesome;
}
.MuiInputBase-input {
  height: 1rem;
}
#asynchronous-demo-label {
  color: black;
}

#asynchronous-demo-label:focus {
  color: yellow;
}

#main-content {
  margin: auto 0;
  margin-top: 100px;
}
#main-content #inbox {
  width: 50%;
}
#main-content #inbox h4 {
  font-weight: bold;
}
#main-content #inbox .items ul li {
  list-style: none;
  padding-right: 20px;
}
#main-content #inbox .items ul li span {
  font-size: 13px;
}
#main-content #inbox div.add-task span {
  font-size: 16px;
  line-height: 1.2;
  margin-left: 5px;
}

#main-content #inbox div.add-section {
  opacity: 0;
}
#main-content #inbox div.add-section:hover {
  opacity: 1;
}

a span {
  color: black;
}
